<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="<http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>BDT | Profile</title>
    <th:block layout:fragment="css">
        <link th:href="@{~/css/plugins/iCheck/custom.css}" rel="stylesheet">
        <link th:href="@{~/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight" layout:fragment="content">
    <h1>Editar Perfil</h1>
    <div id="example-basic">
        <h3>Datos Cuenta</h3>
        <form role="form">
        <section>
                <div class="form-group">
                    <label>Email *</label>
                    <input class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="password" placeholder="Password" class="form-control required">
                </div>
        </section>
        <h3>Datos Generales</h3>
        <section>
            <div class="form-group"><label>Nombre Empresa *</label>
                <input type="text"  class="form-control required"></div>
            <div class="form-group"><label>Dirección *</label>
                <input type="text" class="form-control required"></div>
        </section>
        </form>
    </div>

</div>

<th:block layout:fragment="scripts">
    <script th:src="@{~/js/plugins/steps/jquery.steps.min.js}"></script>
    <script th:src="@{~/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:inline="javascript">
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });


    </script>
</th:block>
</body>
</html>