:root {
    --primary-color: #29ABE2;
    --secondary-color: #29ABE2;
}
body {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url("../img/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo {
    background-image: url("../img/logo.png");
    background-size:contain;
    background-repeat: no-repeat;
    width:100%;
    height:200px;
    display:block;
}
.ibox {
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    opacity: 0.7;
}
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
