<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="<http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Offers</title>
    <th:block layout:fragment="css">
        <link th:href="@{~/css/plugins/iCheck/custom.css}" rel="stylesheet">
        <link th:href="@{~/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight" layout:fragment="content">
<h1>Accounting assistant</h1>
    <br>
    <i class="fa fa-building"></i>&nbsp;&nbsp;<span class="bold">DIANA Food Products</span><br>
    <br>
    <i class="fa fa-suitcase"></i>&nbsp;&nbsp;<span class="bold">Accounting and Finance</span><br>
    <br>
    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;<span class="bold">La Union, El Salvador</span><br>
    <br>
    <br>
    <button class="btn btn-outline btn-info" type="button">
        <a href="#" th:href="@{~/p/apply}">
            <i class="fa fa-star"></i>&nbsp;&nbsp;Apply</a>
    </button>
    <br>
    <br>

    <h2>Offer detail</h2>
    <hr>
    <br>
    <p>detail...</p>

</div>
<th:block layout:fragment="scripts">
    <script th:src="@{~/js/plugins/steps/jquery.steps.min.js}"></script>
    <script th:src="@{~/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:inline="javascript">

    </script>
</th:block>
</body>
</html>