<!DOCTYPE html>
<html lang="es"
      layout:decorate="~{_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="<http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Job Offers</title>
    <th:block layout:fragment="css">
        <link th:href="@{~/css/plugins/iCheck/custom.css}" rel="stylesheet">
        <link th:href="@{~/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight" layout:fragment="content">

    <div class="row">
        <div class="col-md-4">
            <center>
                <h2>Seleccionar Empresa</h2>
                <br>
                <select class="form-select" aria-label="Default select example" style="width:150px">
                    <option selected>Empresa 1</option>
                    <option value="1">Empresa 2</option>
                    <option value="2">Empresa 3</option>
                    <option value="3">Empresa 4</option>
                </select>
            </center>
        </div>

        <div class="col-md-4">
            <center>
                <h2>Seleccionar Cargo</h2>
                <br>
                <select class="form-select" aria-label="Default select example" style="width:150px">
                    <option selected>Cargo 1</option>
                    <option value="1">Cargo 2</option>
                    <option value="2">Cargo 3</option>
                    <option value="3">Cargo 4</option>
                </select>
            </center>
        </div>

        <div class="col-md-4">
            <center>
                <h2>Seleccionar Area Laboral</h2>
                <br>
                <select class="form-select" aria-label="Default select example" style="width:150px">
                    <option selected>Area 1</option>
                    <option value="1">Area 2</option>
                    <option value="2">Area 3</option>
                    <option value="3">Area 4</option>
                </select>
            </center>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


    <div class="ibox">
        <div class="ibox-title">
            <h5>Workstation</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="ibox-content" th:each="offer : ${offers}">
            <i class="fa fa-building"></i>&nbsp;&nbsp;<span class="bold">Empresa: [[${offer.company.name}]]</span><br>
            <i class="fa fa-suitcase"></i>&nbsp;&nbsp;<span class="bold">Titulo: [[${offer.title}]]</span><br>
            <i class="fa fa-suitcase"></i>&nbsp;&nbsp;<span class="bold">Área: [[${offer.area.name}]]</span><br>
            <br>
            <button class="btn btn-outline btn-info" type="button">
                <a href="#" th:href="@{~/p/display-offer/} + ${offer.id}">
                    <i class="fa fa-check"></i>&nbsp;&nbsp;View deal</a>
            </button>
        </div>
    </div>

</div>

<th:block layout:fragment="scripts">
    <script th:src="@{~/js/plugins/steps/jquery.steps.min.js}"></script>
    <script th:src="@{~/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:inline="javascript">

    </script>
</th:block>
</body>
</html>