<!DOCTYPE html>
<!--suppress ALL -->
<html lang="es"
      layout:decorate="~{_layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="<http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <th:block layout:fragment="css">
        <link th:href="@{~/css/plugins/iCheck/custom.css}" rel="stylesheet">
        <link th:href="@{~/css/plugins/steps/jquery.steps.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<div class="wrapper wrapper-content animated fadeInRight" layout:fragment="content">
    <h1>Edit profile</h1>
    <div id="example-basic">
        <h3>Account Data</h3>
        <section>
            <form role="form">
                <div class="form-group" th:object="${form}">
                    <label for="email">Email *</label>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    <input id="email" class="form-control" type="text" th:field="*{email}">
                </div>
                <div class="form-group">
                    <label>Password *</label>
                    <input type="password" placeholder="Password" class="form-control required">
                </div>

        </section>
        <h3>General data</h3>
        <section>
            <div class="form-group"><label>Name *</label>
                <input type="name" placeholder="Name" class="form-control required"></div>
            <div class="form-group"><label>Last name *</label>
                <input type="lastname" placeholder="Last name" class="form-control required"></div>
            <div class="form-group"><label>Area *</label>
                <input type="area" placeholder="Area" class="form-control required"></div>
        </section>
    </form>
    </div>


</div>

<th:block layout:fragment="scripts">
    <script th:src="@{~/js/plugins/steps/jquery.steps.min.js}"></script>
    <script th:src="@{~/js/plugins/validate/jquery.validate.min.js}"></script>
    <script th:inline="javascript">
    $("#example-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true
    });


    </script>
</th:block>
</body>
</html>
